pydantic
uvicorn
typer
fastapi
python-multipart
scipy
numpy
pandas
matplotlib
altair
seaborn
plotly
plotnine
statsmodels
networkx
geopandas
matplotlib-venn
wordcloud
kaleido
geopy
basemap
basemap-data-hires
peacasso
